body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.legenda {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

.caixa-texto {
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin: 0 0 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.caixa-texto:focus {
  outline: none;
  border-color: #9351b4;
  box-shadow: 0 0 10px #9351b4;
}

.grupo__erro {
  color: red;
}



@media (min-width: 992px) {
  .navbar {
    padding: 0 10%;
  }
}




@media (min-width: 992px) {
.contato {
  padding: 3rem 1rem 0;
}
}


@media (min-width: 992px) {
  .contato {
      padding-left: 10%;
      padding-right: 10%;
  }
}




